In [29]:
!pip install sklearn_som

Requirement already satisfied: sklearn_som in c:\users\admin\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from sklearn_som) (1.26.4)

In [30]:
import pandas as pd

In [31]:
data = pd.read_csv("Ionosphere.txt", sep=" ", header=None)

In [32]:
data.shape

(351, 35)

In [33]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1

In [34]:
data_input = data.iloc[:,:34]

In [35]:
data_input.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.20332,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,0.57528,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,1.00000,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,0.03286,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697

In [36]:
data_target = data.iloc[:,34]

In [37]:
data_target.head()

0    1
1    0
2    1
3    0
4    1
Name: 34, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_input, data_target, test_size=0.3)

In [39]:
X_train.shape

(245, 34)

In [40]:
type(X_train)

pandas.core.frame.DataFrame

In [41]:
data_train = X_train.to_numpy()

In [42]:
from sklearn_som.som import SOM

m=6
n=6
epoch=1000
num_input = 34

ion_som = SOM(m,n, dim=num_input)
ion_som.fit(data_train, epochs=epoch, shuffle=True)

In [43]:
som_output = ion_som.predict(X_test.to_numpy())

In [44]:
print(som_output)

[26 28 11 21  5  7 30 16 22 29  3  7 16 13 34 21 11 11 27 16 27  5 11  0
 22  5 16 29  5 18 34  7  1 33  5 10 11 23  1 14  4 11 11 29 16 18  3 27
 16 20  5  5 16  4 23 18 31  2 16  5 14 19 22 29 15 30  6 13 16 35 10 22
 15 10 19 30 30 27  1  3  5 35 29 21  2 10  5  2 27 13 23  3 12  1 27 35
 11 11 22 10 25  1  1  3 21 15]

In [45]:
map={}

for i in range(0, m*n):
    map[i]=0
    
for i in range(0, len(som_output)):
    map[som_output[i]]=y_train.to_numpy()[i]

In [46]:
predictions = ion_som.predict(X_test.to_numpy())
print(predictions)

[26 28 11 21  5  7 30 16 22 29  3  7 16 13 34 21 11 11 27 16 27  5 11  0
 22  5 16 29  5 18 34  7  1 33  5 10 11 23  1 14  4 11 11 29 16 18  3 27
 16 20  5  5 16  4 23 18 31  2 16  5 14 19 22 29 15 30  6 13 16 35 10 22
 15 10 19 30 30 27  1  3  5 35 29 21  2 10  5  2 27 13 23  3 12  1 27 35
 11 11 22 10 25  1  1  3 21 15]

In [47]:

classes = []
for p in predictions:
    classes.append(map[p])
print(classes)

[1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1]

In [48]:
from sklearn.metrics import accuracy_score
pct = accuracy_score(y_test, classes)
pct = pct*100
print("Percent: %.2f"%pct)

Percent: 51.89

In [49]:
from sklearn.metrics import cohen_kappa_score
kappa = cohen_kappa_score(y_test, classes)
print("Kappa: %.2f"%kappa)

Kappa: -0.16